langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-ollama
langchain_groq
pypdf
faiss-cpu
langchain_huggingface
langchain_chroma
sentence-transformers
wikipedia
arxiv
langchainhub
langsmith
ddgs
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub